/* CREDIT: @headachetapes on Discord */

/* Spotify Player User Area */
#vc-spotify-player {
    background-color: var(--background-gradient-highest, var(--background-base-low)) !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid var(--border-subtle);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 130px;
    margin-bottom: 12px;
}

/* User Area Redesign */
section[class^="panels_"] {
    background: var(--background-gradient-high, var(--background-base-lowest));
    border: 0px;
    border-left: 0px;
}

section[class^="panels_"] div[class^="container__"] {
    background-color: var(--background-gradient-highest, var(--background-base-low));
    border: 1px solid var(--border-subtle);
    border-radius: 20px;
}

section[class^="panels_"] div[class^="panel_"] {
    margin-bottom: 12px;
    border-radius: 20px;
    border: 1px solid var(--border-subtle);
}

header[class^="header_"] {
    border-bottom: 0px;
}

/* Listening Along User Area */
section[class^="panels_"] div[class^="listeningAlong_"] {
    border: 1px solid var(--border-subtle) !important;
    margin-bottom: 12px;
    border-radius: 20px;
}